Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-pro-type-union-access

WarningsAsErrors: "*"

CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.GlobalFunctionCase: lower_case
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.PrivateMemberCase: lower_case
  readability-identifier-naming.PrivateMemberPrefix: ""
  readability-identifier-naming.PrivateMemberSuffix: "_"
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalConstantPrefix: "k"
  readability-identifier-naming.ConstantMemberCase: CamelCase
  readability-identifier-naming.ConstantMemberPrefix: "k"
  readability-identifier-naming.ConstexprFunctionCase: lower_case
  readability-identifier-naming.ConstexprMethodCase: lower_case
  modernize-use-nodiscard.ReplacementString: "[[nodiscard]]"
  portability-simd-intrinsics: true
  portability-restrict-system-includes: true
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  cppcoreguidelines-macro-usage.CheckCapsOnly: true
